# Exercise Set 4: Data Structuring 1

*Afternoon, August 14, 2018*

In this Exercise Set we will apply some of the basic things we have learned with pandas.

#### Load modules
We begin by loading relevant packages.

In [3]:
import numpy as np
import pandas as pd

##  Exercise Section 4.1: Weather, part 1

Some data sources are open and easy to collect data from. They can be 'scraped' as is and they are already in a table format. This Exercise part of exercises is the first part of three that work with weather data, the follow ups are Exercise Sections 6.1 and 7.1. Our source will be National Oceanic and Atmospheric Administration (NOAA) which have a global data collection going back a couple of centuries. This collection is called Global Historical Climatology Network (GHCN). A description of GHCN can be found [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/readme.txt).


> **Ex. 4.1.1:** Use Pandas' CSV reader to fetch  daily data weather from 1864 for various stations - available [here](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/). 

> *Hint 1*: for compressed files you may need to specify the keyword `compression`.

> *Hint 2*: keyword `header` can be specified as the CSV has no column names.

> *Hint 3*: Specify the path, as the URL linking directly to the 1864 file.

In [4]:
# [Answer to Ex. 4.1.1]
weather_url1864 = "https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/1864.csv.gz"
wdf = pd.read_csv(weather_url1864, sep=",", compression="gzip", header=None, usecols=[0,1,2,3] )
wdf.head(5)

             0         1     2    3
0  ITE00100550  18640101  TMAX   10
1  ITE00100550  18640101  TMIN  -23
2  ITE00100550  18640101  PRCP   25
3  ASN00079028  18640101  PRCP    0
4  USC00064757  18640101  PRCP  119


> **Ex. 4.1.2:** Structure your weather DataFrame by using only the relevant columns (station identifier, data, observation type, observation value), rename them. Make sure observations are correctly formated (how many decimals should we add? one?).

> *Hint:* rename can be done with `df.columns=COLS` where `COLS` is a list of column names.

In [23]:
# [Answer to Ex. 4.1.2]
COLS = ["station", "datetime", "obs_type", "obs_value"]
wdf.columns = COLS
wdf["obs_value"] = wdf["obs_value"] / 10
wdf.head(5)

       station  datetime obs_type  obs_value
0  ITE00100550  18640101     TMAX      0.010
1  ITE00100550  18640101     TMIN     -0.023
2  ITE00100550  18640101     PRCP      0.025
3  ASN00079028  18640101     PRCP      0.000
4  USC00064757  18640101     PRCP      0.119


> **Ex. 4.1.3:**  Select data for the station `ITE00100550` and only observations for maximal temperature. Make a copy of the DataFrame. Explain in a one or two sentences how copying works.

> *Hint 1*: the `&` operator works elementwise on boolean series (like `and` in core python).

> *Hint 2*: copying of the dataframe is done with the `copy` method for DataFrames.

In [9]:
# [Answer to Ex. 4.1.3]
wdfITE = wdf[(wdf.station == "ITE00100550") & (wdf.obs_type == "TMAX")].copy()
wdfITE.head()

#"In Pandas, indexing a DataFrame returns a reference to the initial DataFrame. "
#"Thus, changing the subset will change the initial DataFrame. "
#Therefore, we would want to use the copy to ensure the original DataFrame remains unchanged.

         station  datetime obs_type  obs_value
0    ITE00100550  18640101     TMAX        1.0
75   ITE00100550  18640102     TMAX        0.8
152  ITE00100550  18640103     TMAX       -2.8
227  ITE00100550  18640104     TMAX        0.0
305  ITE00100550  18640105     TMAX       -1.9

> **Ex. 4.1.4:** Make a new column called `TMAX_F` where you have converted the temperature variables to Fahrenheit. 

> *Hint*: Conversion is $F = 32 + 1.8*C$ where $F$ is Fahrenheit and $C$ is Celsius.

In [15]:
# [Answer to Ex. 4.1.4]
wdfITE["TMAX_F"] = 32 + 1.8 * wdfITE["obs_value"]
wdfITE.head()

         station  datetime obs_type  obs_value  TMAX_F
0    ITE00100550  18640101     TMAX        1.0   33.80
75   ITE00100550  18640102     TMAX        0.8   33.44
152  ITE00100550  18640103     TMAX       -2.8   26.96
227  ITE00100550  18640104     TMAX        0.0   32.00
305  ITE00100550  18640105     TMAX       -1.9   28.58

> **Ex 4.1.5:**  Inspect the indices, are they following the sequence of natural numbers, 0,1,2,...? If not, reset the index and make sure to drop the old.

In [18]:
# [Answer to Ex. 4.1.5]
wdfITE = wdfITE.reset_index(drop=True)
wdfITE.head()

       station  datetime obs_type  obs_value  TMAX_F
0  ITE00100550  18640101     TMAX        1.0   33.80
1  ITE00100550  18640102     TMAX        0.8   33.44
2  ITE00100550  18640103     TMAX       -2.8   26.96
3  ITE00100550  18640104     TMAX        0.0   32.00
4  ITE00100550  18640105     TMAX       -1.9   28.58

> **Ex 4.1.6:** Make a new DataFrame where you have sorted by the maximum temperature. What is the date for the first and last observations?

In [21]:
# [Answer to Ex. 4.1.6]
wdfITE_sorted = wdfITE.sort_values("obs_value")

> **Ex 4.1.7:** CVS-files: save your DataFrame as a CSV file. what does index argument do?

> Try to save the file using a relative path and an absolut path. 
With a relative you only specify the file name. This will save the file in the folder you are currently working in. With an absolute path, you specify the whole path, which allows you to save the file in a folder of your choice

In [ ]:
# [Answer to Ex. 4.1.7]

> (Bonus) **Ex. 4.1.8**: A very compact way of writing code and making list in Python, is called list comprehensions. Depending on what you are doing, list can be more or less efficient that for example vectorized operations using NumPy. 

>Read about list comprehenseions online, and use it to make a list with the numbers from 0 to a million (10\*\*6), and add 3 to each element. Do the same doing NumPy, and time both methods. Which method is faster? 

> *Hint 1*: Use the `timeit` package for timing each method